.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.estimator-header {
  padding: 20px 0 20px 0;
  .estimator-header__logo {
    vertical-align: middle;
  }
}

.ebay-estimator {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1120px;
}

.property-wrapper {
  padding: 10px;
  min-width: 45%;
  .property-input {
    max-width: 270px;
    min-width: 200px;
    height: 48px;
  }
  .property-select {
    max-width: 300px;
    min-width: 270px;
    height: 48px;
    vertical-align: middle;
    background-color: rgb(221, 241, 224);
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: relative;
    .property-select__value {
      display: flex;
      padding-left: 20px;
      align-items: center;
    }
    .property-select__value::after {
      background-color: white;
      width: 28px;
      height: 28px;
      border-radius: 20px;
      border: 1px solid green;
      right: 20px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .property-select__value_not-selected::after {
      content: "";
    }
    .property-select__value_selected::after {
      content: "\2713";
    }
  }
  .property-select:hover {
    border: 1px solid green;
    cursor: pointer;
  }
  .property-select_seleced {
    border: 1px solid green;
  }
}

.submit-button-wrapper {
  display: flex;
  padding: 20px 0 20px 0;
  justify-content: center;
  width: 100%;
  .submit-button {
    background-color: rgb(107, 199, 120);
    border-radius: 40px;
    height: 48px;
    max-width: 500px;
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    .submit-button__caption {
      padding-left: 20px;
    }
  }
  .submit-button:hover {
    background-color: rgb(145, 194, 152);
    cursor: pointer;
  }
}

.form_inputs {
  padding: 10px 50px 10px 50px;
}

.form_input {
  padding-bottom: 20px;
}

.estimation_result {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .ebay-estimator {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .ebay-estimator {
    display: flex;
    flex-direction: column;
  }

  .estimator-header {
    padding: 20px 15px 20px 15px;
    font-size: 20px;
    .estimator-header__logo {
      vertical-align: middle;
    }
  }

  .estimation_result {
   padding: 10px 15px 10px 15px
  }
}

